@import url('https://fonts.googleapis.com/css2?family=Homenaje&family=Ubuntu&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: #BCBCBC;
}

.resume{
    display: block;
    margin: 20px auto;
    background-color: white;
    width:780px;
    height: fit-content;
}
.header{
    background-color: #353938;
    color: #fff;
    letter-spacing: 3px;
}
.header h1{
    font-family: 'Homenaje', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 6px;
}
.title{
    text-transform: uppercase;
    font-size: 1.7rem;
    margin-bottom: 1rem;
    font-family: 'Homenaje', sans-serif;
    letter-spacing: 2px;
    background-color: #f2f2f2;
    padding:0.25rem;
    padding-left: 0.5rem;
}

.desc{
    font-size: 0.85rem;
    margin:0;
    font-family: 'Ubuntu', sans-serif;
}
p{margin:0;}
hr{
    height: 0.1rem !important;
    opacity: 1;
    margin: 0
}

.body{
    flex-direction: row-reverse;
}
.date{
    font-size: 0.92rem;color: gray;
}
.internship-about{
    margin-top: 8px;
}

.side-section{
    width: 700px;
    border-right: 1px solid black;
}
.side-desc{
    font-size: 0.8rem;
    word-break: break-all;font-family: 'Ubuntu', sans-serif;
}
.contact-details div{
    margin-bottom: 0.75rem;
    align-items: baseline;
}
table{
    width: 100%;
}
td{
    font-size: 0.9rem;
    padding: 5px;
}

td::before{
    content: "•";
    padding: 5px 10px;
}

.footer{
    background-color: #dadada;
    height: 1.5rem;
}